<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rooster Grin Front End Dev Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="app">
      <nav>
        <a href="/"><img src="assets/igniter-logo-white.svg" alt="company logo" id="logo"/></a>
      </nav>
      <header>
        <h1>Lorem Ipsum Lorem Ipsum</h1>
        <button class="gradient-button">Button</button>
        <img src="assets/envelope-icon.svg" alt="envelope icon"/>
      </header>
      <section class="notes">
        <div>
          <img src="assets/page-icon.svg" alt="icon"/>
          <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. </p>
        </div>
        <div>
          <img src="assets/page-icon.svg" alt="icon"/>
          <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. </p>
        </div>
        <div>
          <img src="assets/page-icon.svg" alt="icon"/>
          <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. </p>
        </div>
        <div>
          <img src="assets/page-icon.svg" alt="icon"/>
          <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. </p>
        </div>
      </section>
      <section id="slanted">
        <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum ac.</p>
      </section>
      <section>
        <h2><span>Lorem</span> Ipsum</h2>
        <div class="statistics-block">
          <div class="details">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <button class="gradient-button">Button</button>
          </div>
          <div class="statistics">
            <div>
              <h3>240%</h3>
              <p>Lorem ipsum dolor sit amet Lorem ipsum dolor ipsum dolor</p>
            </div>
            <div>
              <h3>105%</h3>
              <p>Lorem ipsum dolor sit amet Lorem ipsum dolor ipsum dolor</p>
            </div>
            <div>
              <h3>159%</h3>
              <p>Lorem ipsum dolor sit amet Lorem ipsum dolor ipsum dolor</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2><span>Lorem</span> Ipsum</h2>
        <div class="checkerboard">
          <div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <h3>Lorem ipsum dolor sit amet lorem</h3>
            <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum. Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum ac.</p>
          </div>
          <img src="assets/img1.jpg" />
        </div>
        <div class="checkerboard">
          <img src="assets/img2.jpg" />
          <div>
            <h2>Lorem ipsum dolor sit amet</h2>
            <h3>Lorem ipsum dolor sit amet lorem</h3>
            <p>Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum. Lorem ipsum dolor sit amet, ac dis arcu libero, pulvinar vitae lectus cursus. Purus libero amet, at dui, tincidunt nunc vestibulum in justo, a faucibus ipsum hendrerit semper ipsum ac.</p>
          </div>
        </div>
      </section>
      <div class="modal">
        <div class="modal-content">
          <form>
            <label for="name">Your name</label>
            <input type="text" id="name"/>
            <div class="half-width">
              <label for="email">Your Email</label>
              <input type="email" id="email"/>
            </div>
            <div class="half-width">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone"/>
            </div>
            <label for="message">Message</label>
            <textarea id="message"></textarea>
            <button class="gradient-button">Button</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script type="text/javascript" src="scripts/bundle.js"></script>
  </body>
</html>
